.navbar{
  width:100%;
  padding:20px 80px;
  background:#1565c0;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  color:white;
  font-size:32px;
}

.nav-buttons{
  display:flex;
  gap:15px;
}

.login-btn,
.register-btn{
  padding:10px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}

.login-btn{
  background:white;
  color:#1565c0;
}

.register-btn{
  background:#ffca28;
}